.snake-game {
  height: 100%;
  width: 100%;
}
.canvas {
  background: black;
  border-style: solid;
  border-width: 2px;
  border-color: gold;
}
.start {
  display: none;
  position: absolute;
  z-index: 999999999;
}