.snake-game {
  height: 100%;
  width: 100%;
}
.canvas {
  background: black;
  border-style: solid;
  border-width: 2px;
  border-color: gold;
}
.menu-container {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);

  text-align: center;
}
.start, .pausa, .restart-menu {
  display: none;
}